@forward "controls-header";
@forward "number-fields";
@forward "options-fields";
@use "../base/typography" as text;
@use "../base/breakpoints" as brkp;

.controls-section {
  display: flex;
  flex: 0 1 23rem;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 2.5rem;

  @include brkp.x(536) {
    padding: 0 2rem;
  }
}
