@use "../base/typography" as text;
@use "../base/btn";
@use "../base/breakpoints" as brkp;

.results-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.total-per-person {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.total-per-person-amount {
  @include text.t-display("L");
  color: var(--c-cm-on-surface-primary);

  @include brkp.x(536) {
    @include text.t-display("S");
  }
}

.total-per-person-label {
  @include text.t-base("M", "regular", "one-liner");
  color: var(--c-cm-on-surface-secondary);
}

.results-controls {
  display: flex;
  gap: 0.75rem;
}

.btn-results {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.5rem;
  background-color: var(--c-cm-over-surface-primary);
  border-radius: 1.125rem;
  transition: background-color 100ms ease-in-out;

  &[data-can-hide] {
    display: none;
  }

  &.turn {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: var(--c-cm-over-surface-secondary);
  }

  @include brkp.x(536) {
    &[data-can-hide] {
      display: block;
    }
  }
}

.btn-results-icon {
  @include btn.btn-icon(1rem, var(--c-cm-accent));
}
